body {
  background-color: #F0eff4;
}

.nav-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #260ff0;
} 

.focus-button , .home-button , .profile-button , .explore-button {
  background-color: #260ff0;
  color: #d6ff79;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  height: 46px;
  transition: background-color 0.05s, color 0.05s;

} 

.focus-button:active , .home-button:active , .profile-button:active , .explore-button:active {
  box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  
} 

.screen {
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.macro-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  margin: 10px 0;
  background: white;
  border-radius: 14px;
  border: 3px outset #260ff0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.15s, color 0.15s;
  
}

.macro-button:active{
  background: #260ff0;
  color: white;
}

.subarea-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  margin: 10px 0;
  background: white;
  border-radius: 14px;
  border: 3px outset #d6ff79;
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.15s;
}

.subarea-button:active {
  background-color: #d6ff79;
}
